
@font-face {
  font-family: "HancomMalangMalang-Regular";
  font-weight: normal;
  src: url("./asset/font/HancomMalangMalang-Regular.ttf") format("truetype");
}

body {
  font-family: "HancomMalangMalang-Regular";
}

button{
  font-family: "HancomMalangMalang-Regular";
}

input{
  font-family: "HancomMalangMalang-Regular";
}

react-datepicker{
  font-family: "HancomMalangMalang-Regular"
}
